<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-briefcase"></i> <br>brief </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-plus fa-"></i><br>
           User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
    -->

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collection of nav links, forms, and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
        
        <div class="navbar-nav mr-auto">
          
          <div class="nav-item dropdown">
            
            <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><i class="fas fa-cog ml-4"></i><br><span>Paramètres</span></a>
            <div class="dropdown-menu">
              <a routerLink="listProfils" class="dropdown-item"><i class="far fa-id-card"></i> Profils</a>
              <a routerLink="listPrSortie" class="dropdown-item"><i class="fas fa-list-ol"></i> Profils de sortie</a>
              <a routerLink="listComp" class="dropdown-item"><i class="fa fa-sliders"></i> Compétences</a>
              <a routerLink="listGrpComp" class="dropdown-item"><i class="fa fa-sliders"></i> Groupe de Compétences</a>
              <a routerLink="listRefs" class="dropdown-item"><i class="fa fa-sliders"></i>Référentiels</a>
              <a routerLink="addPromo" class="dropdown-item"><i class="fa fa-sliders"></i>Promo</a>
             
              
            </div>
          </div>
          <a href="#" class="nav-item nav-link"><i class="fas fa-book-reader"></i><span>Brief</span></a>
          <a href="#" class="nav-item nav-link"><i class="fas fa-book-reader"></i><span>Rendus</span></a>
          <a href="#" class="nav-item nav-link"><i class="fas fa-street-view"></i><span>Explorer</span></a>
          <a href="#" class="nav-item nav-link"><i class="fas fa-comments"></i><span>Forum</span></a>
          
          <a href="#" class="nav-item nav-link"><i class="fas fa-history"></i><span>Historique des promos</span></a>		
          <a href="#" class="nav-item nav-link"><i class="fa fa-bell"></i><span>Notifications</span></a>
          <div class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><i class="fas fa-user"></i><br><span>User</span></a>
            <div class="dropdown-menu">
              <a routerLink="addUser" class="dropdown-item"><i class="fa fa-user-o"></i> Create User</a>
              <a routerLink="listUsers" class="dropdown-item"><i class="fas fa-list-ol"></i> List Users</a>
              <a routerLink="#" class="dropdown-item"><i class="fa fa-sliders"></i> Détail User</a>
              <div class="divider dropdown-divider"></div>
              <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
            </div>
          </div>
        </div>

        <a href="#" class="navbar-brand"><i class="fas fa-graduation-cap"></i><b>SONATEL ACADEMY</b></a> 

        <form class="navbar-form form-inline">
          <div class="input-group search-box">								
            <input type="text" id="search" class="form-control" placeholder="Search here...">
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
          </div> 		
        </form>
      </div>
    </nav>
    


