
<div class="container">
  <legend>liste Profils de Sortie <a href="addPrSortie"><i class="fas fa-user-plus"></i></a></legend>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libellé</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Développeur Front</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning">UPDATE</button>
            <button type="button" class="btn btn-danger">DELETE</button>
          </div>
        </td>
  
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Développeur Back</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning">UPDATE</button>
            <button type="button" class="btn btn-danger">DELETE</button>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Développeur FullStack</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning">UPDATE</button>
            <button type="button" class="btn btn-danger">DELETE</button>
          </div>
        </td>
  
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Integrateur Web</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning">UPDATE</button>
            <button type="button" class="btn btn-danger">DELETE</button>
          </div>
        </td>
  
      </tr>
    </tbody>
  </table>
</div>