
<app-header></app-header>
<div class="container">
    
        <form action="">
      
            <legend>Création de Référentiel</legend>
            <div class="form-group row">
                <label for="ref" class="col-sm-2 col-form-label">Référentiel</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="ref" placeholder="entrer le référentiel">
                </div>
              </div>

              <div class="form-group row">
                <label for="pres" class="col-sm-2 col-form-label">Présentation</label>
                <div class="col-sm-6">
                    <textarea name="pres" id="pres"></textarea>
                </div>
              </div>

                <div class="form-group row">
                    <label for="comp" class="col-sm-2 col-form-label">Compétences</label>
                    
                        <div class="scroller bordure col-sm-6">
                            <label for="c1">Maquettage</label> <input type="checkbox" name="c1" id="c1">
                            <label for="c2">Gestion de Base de Données</label> <input type="checkbox" name="c2" id="c2">
                            <label for="c3">Integration Web</label> <input type="checkbox" name="c3" id="c3">
                            <label for="c4">Backend</label> <input type="checkbox" name="c4" id="c4">
                            <label for="c5">Frontend</label> <input type="checkbox" name="c5" id="c5">
                            <label for="c6">FullStack</label> <input type="checkbox" name="c6" id="c6">
                         </div>
                </div>
            
            <div class="form-group row">
                <label for="prog"  class="col-sm-2 col-form-label">Programme</label>
                <div class="col-sm-6">
                    <input type="file" name="prog" id="prog" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Critère d'évaluation</label>
                <div class="scroller bordure col-sm-6">
                    <label for="c1">Maquettage</label> <input type="checkbox" name="c1" id="c1">
                    <label for="c2">Gestion de Base de Données</label> <input type="checkbox" name="c2" id="c2">
                    <label for="c3">Integration Web</label> <input type="checkbox" name="c3" id="c3">
                    <label for="c4">Backend</label> <input type="checkbox" name="c4" id="c4">
                    <label for="c5">Frontend</label> <input type="checkbox" name="c5" id="c5">
                    <label for="c6">FullStack</label> <input type="checkbox" name="c6" id="c6">
                 </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Critère d'admission</label>
                <div class="scroller bordure col-sm-6">
                    <label for="c1">Maquettage</label> <input type="checkbox" name="c1" id="c1">
                    <label for="c2">Gestion de Base de Données</label> <input type="checkbox" name="c2" id="c2">
                    <label for="c3">Integration Web</label> <input type="checkbox" name="c3" id="c3">
                    <label for="c4">Backend</label> <input type="checkbox" name="c4" id="c4">
                    <label for="c5">Frontend</label> <input type="checkbox" name="c5" id="c5">
                    <label for="c6">FullStack</label> <input type="checkbox" name="c6" id="c6">
                 </div>
            </div>
            
            <button type="button" class="btn btn-primary">SOUMETTRE</button>
        </form>
   
</div>
