
<div class="container">
    <h2>CREATION COMPETENCE</h2>
        <form action="">
            <div class="form-group">
                <label for="">Groupe de Compétences</label>
                <select name="grpC" id="grp">
                    <option value="select">Sélectionner un groupe de compétences</option>
                    <option value="maq">Maquettage</option>
                    <option value="df">Développer le frontend d'une app</option>
                    <option value="db">Développer le backend d'une app</option>
                </select>
            </div>
            <div class="form-group">
                <label for="lib">Compétence</label>
                <input type="text" id="lib" name="compet" placeholder="Entrer le nom de la compétence" class="form-control">
            </div>
        </form>
  
</div>
